:root {
  --mark-adj-color: #CEF3FD;
  --mark-obj-color: #FDD0B0;
  --mark-subj-color: #FDCEF4;
  --mark-verb-color: #BDFDB0;
  --mark-indicate-color: #9B9B9B;
  --mark-line-color: #EBEBEB;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Markers */
.adj, #top-adj {
  background-color: var(--mark-adj-color);
}

.obj, #top-obj {
  background-color: var(--mark-obj-color);
}

.subj, #top-subj {
  background-color: var(--mark-subj-color);
}

.verb, #top-verb {
  background-color: var(--mark-verb-color);
}

.tooltip {
  margin-bottom: 5px;
  font-size: 1rem;
}

.tooltip-inner {
  background-color: var(--mark-indicate-color);
  border-radius: 6px;
  padding: 5px 10px;
  opacity: 1;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: var(--mark-indicate-color);
    margin-bottom: 5px;
}

.nav-main {
  padding: 50px 50px 50px 70px;
  background: white;
}
.nav-link.disabled {
  padding: 0px 10px 0px 10px;
  height: 50px;
  opacity: 0.3;
}

.nav-link{
  padding: 0px 10px 0px 10px;
  height: 50px;
  opacity: 1.0;
}

#lines {
  margin-bottom: 100px;
}

.select {
  width: 80px;
  position: absolute;
  top: 100px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 5px;
  z-index: 100;
}

.option {
  padding: 5px 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
}


.topology {
  position: absolute;
  width: 100vw;
  height: 60px;
  background-color: white;
  bottom: 0px;
  z-index: 10;
  transition: bottom 0.33s linear;
  /* border-top-color: var(--mark-indicate-color); */
  border-top: 1px solid var(--mark-line-color);
}

.topology > div {
  height: 36px;
  display: inline-block;
  padding: 6px 10px;
  margin: 12px 0 12px 10px;
  border-radius: 6px;
}


/* Requery */
.query-text {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size:20px;
  color: var(--mark-indicate-color);
}

.requery-row {
  margin-bottom: 15px;
}

.requery-icon {
  display: inline-block;
}

.requery-img {
  height: 20px;
}

.edit-text {
  visibility: hidden;
}

.flex-families {
  flex-direction: row;
  flex-grow: 1;
}

.language-family {
  height: 36px;
  display: inline-block;
  padding: 6px 10px;
  margin: 12px 0 12px 10px;
  border-radius: 6px;
  background-color: var(--mark-line-color);
}
